body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'bold';
    src: url(assets/font/TTNorms-Bold.otf);
}
@font-face {
    font-family: 'medium';
    src: url(assets/font/TTNorms-Medium\ \(1\).otf);
}
@font-face {
    font-family: 'regular';
    src: url(assets/font/TTNorms-Regular.otf);
}
@font-face {
    font-family: 'light';
    src: url(assets/font/TTNorms-Light.otf);
}

.top-layer{
    height: 0px;
    margin-top: -64px;
    position: absolute;
}
.top-content{
    margin-top: 16px;
}
.list-container{
    position: relative;
}
.list-content-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;
    padding: 8px 8px;
}
.list-logo{
    align-self: center;
    grid-area: 2 / 1;
}
.logo-dv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text-content{
    grid-area: 2/2;
}
.text-heading{
    font-family: bold;
    color:#191919ff ;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.text-heading-light{
    font-family: medium;
    color:#606060ff ;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.rating-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.text-sc svg{
    margin: 0 2px;
}
.button-container{
    align-self: center;
    grid-area: 2 / 3;
}
.button-link{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffffff;
}
.btn-wrapper{
    padding: 0 12px;
}
.inline-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline-main-container{
    display: flex;
    justify-content: center;
}
.button-text{
    font-family: bold;
    color: #ffffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;

}
.container-page{

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.login-page{
    width: 100%;
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png);
    height: 550px;
    padding: 0px 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 1;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.login-image{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-image-child{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.door{
    margin-left: 8px;
}
.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-content{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.login-heading{
    max-width: 350px;
    font-family: bold;
    letter-spacing: 0px;
    line-height: 28px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}
.btn-top{
position: absolute;
left: 0px;
right: 0px;
top: 95px;
margin-top: 16px;
z-index: 1;
}
.button-link.login{
    background-color: #ffffffff;

}
.button-text.login{
    color: #191919ff;
}
.signing-btn{
 padding-right: 24px;
 display: flex;
 justify-content: flex-end;
 gap: 8px;
}
.login-bar{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.login-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-bar{
    display: flex;
    border-radius: 12px;
}
.input-bar-inner{
    border-radius: 32px;
    display: flex;
    align-items: center;
    z-index: 1;
    padding-left:25px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: #ffffffff;
}
.search{
    margin-right: 12px;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-input{
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0 12px 0 auto;
    max-width: 100%;
}
.text-input:placeholder-shown{
    text-overflow: ellipsis;
}
.text-input{
    text-overflow: ellipsis;
    font-family: medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    background: inherit;
    appearance: none;
    margin: 0px;
    padding:0px;
    color: rgb(28,25,25);
}
.arrow{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn{
    margin-top: 16px;
    position: relative;
    display: flex;
    min-height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #ffffffff;
    color: #191919ff;
}
.login-btn-inner{
    padding: 0px 6px;
}
.login-btn-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn-inner-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 700;
    font-family: medium;
    color: #191919ff;
}
.ad-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.ad-container-inner{
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    padding: 20px;
    background-color: #f7f7f7ff;
}
.ad-contents{
    display: flex;
    text-align: left;
}
.ad-logo{

    border-radius: 12px;
    background-color: #ffffffff;
    margin-right: 8px;
    padding: 8px 8px 8px 8px;
    margin-bottom: 4px;
}
.ad-contents-text{
    display: block;
}
.text-heading.sc{
    color: #191919ff;
    font-family: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.text-heading-light.sc{
    margin-left: 4px;
    margin-top: 2px;
}
.rating-container.sc{
   margin-top: 2px;
}
.ad-btn{

    margin-top: 16px;
    position: relative;
    width: 100%;
    padding: 0px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #eb1700ff;
    color: #ffffffff;
}
.rating-container.sc svg{
    margin: 0 2px;
}
.search-loc{
    display: none;
}
.button-text.login.a{
    display: none;
}
.button-text.a{
    display: none;
}
.login-btn-inner-text.uk{
    display: none;
}
.login-btn-inner-text.uk.jkl{
    display: none;
}
.container-imopb{
    width: 50%;
    max-width: 768px;
    margin: 0px auto;

}
.container-inner-imopb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 8px 8px;

}
.container-inner-imopb-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contaiener-card{
    display: flex;
    flex-flow: row;
    padding: 16px;
}
.card-img{
    margin-right: 32px;
}
.card-wrapper-img{
    height: 88px;
    width: 88px;
}
.card-text{
    display: flex;
    flex-flow: column;
    max-width: 250px;
}
.card-text-inner{
    display: block;
}
.text-item{
    color:#191919ff;
    font-family: bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.text-itme-small{
    color:#191919ff;
    font-family: regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.card-btn{
    border: 0px;
    padding: 0px;
    margin: 12px 0 0 0;
    outline: 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.card-btn-text{
    color: #eb1700ff;
    font-family: bold;
    font-size: 14px;
    font-weight: 700px;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    margin: 0px;
    padding: 0px;
}
.custom-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cutom-wrapper{
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    position: relative;
}
.lazy-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.lazy-image-des{
    display: none;
}
.custom-contents{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.cutom-text{
    text-align: left;
    max-width: 90%;
    margin: 20px 0px 0px;
    color: #191919ff;
    font-family: bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;

}
.cutom-text-sub{
    text-align: left;
    margin-top: 10px;
    color: #191919ff;
    font-family: bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
}
.custom-text-sub{
    text-align: left;
    margin-top: 10px;
    color: #191919ff;
    font-family: bold;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;

}
.btn-dv{
    margin-top: 20px;
}
.custom-contents-btn{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    background-color: #eb1700ff;
    color: #ffffffff;
    text-decoration: none;
    text-align: center;
}
.custom-contents-btn-inner{
    display: block;
    flex-grow: 1;
    opacity: 1;
    padding: 0px 12px;
}
.custom-contents-btn-inner-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.btn-container{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
.btn-container-txt{
    color: currentColor;
    font-family: bold;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.custom-container-next{
    background-color: rgb(254, 241, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cutom-wrapper-next{
    background-color: rgb(254, 241, 238);
    padding-top: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-width: 90%;
}
.grocer-splash{
    background:url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png) center center / cover;
    position: relative;
    height: 350px;

}
.grocer-splash-inner{
    background-color: rgba(30, 30, 30, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.grocer-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
}
.grocery-text{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    max-width: 90%;
    margin: 20px 0px 0px;
    font-family: bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
}
.grocery-text-sub{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    margin: 10px 0px 0px;
    font-family: bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
}
.grocery-text-sub-small{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    margin: 10px 0px 0px;
    font-family: regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0px;
}
.title-main{
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
}
.title-main-text{
    color: #191919ff;
    font-family: bold;
    font-size: 24px;
    font-weight:700;
    line-height: 28px;
    letter-spacing: -0.01px;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}
.cutom-wrapper.third{
    margin-bottom: unset;
}
.scroll-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: rgb(254, 241, 238);
    scrollbar-width: none;

}
.scroll-contaiener-item{
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.scroll-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.links-wrapper{
    max-width: 1130px;
    padding: 48px 0;
    margin: 0px auto;

}
.links-wrapper-heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    color: #191919ff;
    font-family: bold;
    font-size: 18px;
    font-weight:700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0;
}
.links-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.link-title{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:rgb(255, 255, 255);
    border-bottom: 3px solid #606060ff;
}
.link-item{
    color: #191919ff;
    font-family: bold;
    font-size: 16px;
    font-weight:700;
    line-height: 22px;
    letter-spacing: -0.01px;
    display: block;
    padding: 0;
    margin: 0;
}
.link-title.li{
    border-bottom: 2px solid #f1f1f1ff;

}
.link-item.li{
    color: rgba( 73, 73, 73);
    font-weight: 500;
}
.link-content{
    display: flex;
    flex-flow: wrap;
}
.link-content-inner{
    width: 50%;
}
.link-content-link{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    text-align: center;
}
.link-style{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
}
@media screen and (min-width:768px) {

.top-content{
    display: none;
}
.login-page{
    height: 650px;
}
.input-bar{
    min-width: 408px;
    min-height: 56px;
}
.input-bar-inner{
    width: 100%;
}
.login-header{
    flex-grow: 1;
}
.btn-top{
    top: 0;
}
.button-link.login{
    background-color: #eb1700ff;
}
.button-link{
    background-color: #ffffffff;
    min-height: 40px;
}
.button-text.login.a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.button-text.a{
    display: block;
    color: #606060ff;
    font-size: 18px;

}
.search-svg{
    display: none;
}
.search-loc{
    display: block;
}
.button-text.login{
    display: none;
}
.button-text{
    display: none;
}
.login-btn-inner-text{
    display: none;
}
.login-btn-inner-text.uk{
    display: block;
    font-family: medium;
}
.ad-wrapper{
    display: none;
}
.card-wrapper-img{
    height: 124px;
    width: 124px;
}
.card-img{
    margin-right: 64px;
}
.contaiener-card{
    min-width: 360px;
} 
.cutom-wrapper{
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: -60px;
    gap: 60px;
    max-width: 1184px;
}
.lazy-image{
    display: none;
}
.lazy-image-des{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.custom-contents{
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
}
.cutom-text{
    margin-top: 20px;
    font-size: 40px;
    line-height: 40px;
}
.cutom-text-sub{
    margin-top: 20px;
    font-size: 20px;
}
.custom-text-sub{
    font-size: 16px;
}
.btn-dv{
    margin-top: 30px;
}
.btn-container-txt{
    font-size: 16px;
}
.cutom-wrapper-next{
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    gap: 60px;
    max-width: 1184px;
}
.grocer-splash{
    height: 600px;
}
.grocery-text{
    font-size: 40px;
    line-height: 40px;
}
.grocery-text-sub{
    font-size: 20px;
}
.grocery-text-sub-small{
    font-size: 16px;
    line-height: 22px;
}
.cutom-wrapper.third{
    padding-top: 60px;
    margin-bottom: -40px;
}
.title-main-text{
    max-width: 500px;
    font-size: 32px;
    line-height: 40px;
}
.scroll-wrpper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 241, 238);
}
.scroll-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    max-width: 1184px;
}
.lazy-image-des.grid{
    display: block;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.lazy-image-des.grid::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.links-wrapper-heading{
    font-size: 32px;
    line-height: 40px;
}
.link-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
}
@media screen and (min-width:1024px){
    .login-heading{
      font-size: 40px;
      max-width: 750px;
    }
    .login-btn-inner-text.uk{
        display: none;
    }
    .login-btn-inner-text.uk.jkl{
      display: block;
    }
    .link-content{
       grid-template-columns: repeat(5,1fr);
    }
    
}
@media screen and (min-width:1186px) {
    .input-bar-inner{
        padding-right: 10px;
    }
    .arrow{
        border-radius: 9999px;
        background-color: red;
        width: 40px;

    }
    .arrow svg{
        color: white;
    }
    .container-imopb{
        width: 100%;
        max-width: 1184px;
    }
    .container-inner-imopb-child{
        flex-direction: row;
    }
    .container-inner-imopb{
        margin: 96px 0px;
        padding: 12px 12px;
    }
    .contaiener-card{
        flex-direction: column;
    }
    .card-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-wrapper-img{
        height: 154px;
        width: 154px;
    }
    .card-text{
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .card-text-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-item{
        text-align: center;
    }
    .text-itme-small{
        text-align: center;
    }
   
}
